


.home-page {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/1002776/pexels-photo-1002776.jpeg?auto=compress&cs=tinysrgb&w=600');
  margin: 0;
  box-sizing: border-box;
  padding: 20em;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #0005;
  background-blend-mode: darken;
  color: rgba(255, 255, 255, 0.89);

}

.home-page .header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.89);
  font-family: 'Garamond';
  font-size: 130px;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  vertical-align: top;
  line-height: 5px;
}

.home-page .join-queue {
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgba(255, 255, 255, 0.89);
}

.home-page .available-events {
  color: rgba(255, 255, 255, 0.89) !important;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 40px;

  font-family:Georgia, 'Times New Roman', Times, serif;
}
.home-page .users-list {
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 40px;
  color: white !important;
 font-family:Georgia, 'Times New Roman', Times, serif;
}


.users-header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(127, 137, 189, 0.89);
  font-family: 'Garamond';
  font-size: 130px;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  vertical-align: top;
  line-height: 5px;

}